.mb-1 {
  margin-block-end: 0.5rem;
}

.mb-2 {
  margin-block-end: 1rem;
}

.ms-1 {
  margin-inline-start: 0.5rem;
}

.ms-2 {
  margin-inline-start: 1rem;
}

.mt-1 {
  margin-block-start: 0.5rem;
}

.mt-2 {
  margin-block-start: 1rem;
}

.p-1 {
  padding: 0.5rem;
}

.p-2 {
  padding: 1rem;
}

.pt-1 {
  padding-block-start: 0.5rem;
}

.pt-2 {
  padding-block-start: 1rem;
}

.px-1 {
  padding-inline-start: 0.5rem;
  padding-inline-end: 0.5rem;
}

.px-2 {
  padding-inline-start: 1rem;
  padding-inline-end: 1rem;
}

.px-3 {
  padding-inline-start: 1.5rem;
  padding-inline-end: 1.5rem;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100vh;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.border-top {
  border-top: 1px solid lightgray;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important; // Fix for https://github.com/twbs/bootstrap/issues/25686
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  clip-path: inset(50%) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
