.mb-1 {
  margin-block-end: 0.5rem;
}

.mb-2 {
  margin-block-end: 1rem;
}

.ms-1 {
  margin-inline-start: 0.5rem;
}

.ms-2 {
  margin-inline-start: 1rem;
}

.mt-1 {
  margin-block-start: 0.5rem;
}

.mt-2 {
  margin-block-start: 1rem;
}

.p-1 {
  padding: 0.5rem;
}

.p-2 {
  padding: 1rem;
}

.pt-1 {
  padding-block-start: 0.5rem;
}

.pt-2 {
  padding-block-start: 1rem;
}

.w-100 {
  width: 100%;
}

.border-top {
  border-top: 1px solid lightgray;
}

.visually-hidden {
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important; // Fix for https://github.com/twbs/bootstrap/issues/25686
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
