/* You can add global styles to this file, and also import other style files */

@import "styles/reset";
@import "styles/badges";
@import "styles/cards";
@import "styles/buttons";
@import "styles/forms";
@import "styles/layout";
@import "styles/toasts";

html, body {
  --primary-color: #d6f620;
  --secondary-color: lightgray;
  --danger-color: #e3122d;
  --background-color: #f4f8f9;

  --logo-size: 2rem;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Roboto, sans-serif;
  background-color: var(--background-color);
  font-weight: 300;
  line-height: 1.4;
}

.banner-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 1rem;
}

.grid-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  column-gap: 1rem;
  row-gap: 2rem;

  @media screen and (max-width: 1020px) {
    grid-template-columns: 50% 50%;
  }

  @media screen and (max-width: 788px) {
    grid-template-columns: 100%;
  }
}

mat-card-content, mat-card-header {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

h2 {
  font-size: 2.1rem;
  font-weight: 500;
}

h3 {
  font-weight: 500;
}

main {
  margin-top: calc(var(--logo-size, 2rem) * 1.75);
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.container {
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.text-center {
  text-align: center;
}

.grid-full {
  grid-column: 1 / span 3;
}

.flex-container {
  display: flex;
  align-items: center;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.flex-justify-content-end {
  justify-content: flex-end;
}

.flex-justify-content-between {
  justify-content: space-between;
}

.flex-align-items-center {
  align-items: center;
}

.flex-align-items-start {
  align-items: flex-start;
}

.flex-grow-1 {
  flex-grow: 1;
}

.nav-headline {
  padding-left: 1rem;
}

.ingredients {
  list-style-type: none;
  padding: 1rem;

  li {
    margin-bottom: 0.5rem;
  }

  .ingredient {
    font-weight: 400;
    display: block;
  }

  .quantity {
  }
}

.alert {
  padding: 1rem;
  margin-block: 1rem;

  border-radius: 0.5rem;
  border: 1px solid;
}

.alert-danger {
  background-color: #f8d7da;
  color: #721c24;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  padding: 1rem;

  background-color: var(--primary-color);
  border-bottom: 2px solid gray;

  h1 {
    margin: 0;
    font-size: 1.8rem;
    font-weight: 500;
  }

  .app-logo {
    width: var(--logo-size);
    height: var(--logo-size);

    margin-right: 1rem;
  }
}
